body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .table-main{
    width: 50rem;
  }
  .userId {
    display: flex;
    justify-content: center;
  }
  
  .genderCategory {
    padding-left: 30px;
    font-weight: 600;
  }
  
  .genderName {
    padding-left: 60px;
  }
  
  th, td {
    border: 1px solid #a09cb7;
    padding: 8px;
    text-align: center;
  }
  td{
    font-family:"raleway";
    cursor: pointer;
    font-weight: 500;
    color:#282c34;
  }
  th {
    background: #f9fafb;
    color:#374151;
    text-align: center;
    font-family: "poppins";
  }
  .genderCategory {
    margin-left: 2rem;
   }
   @media screen and (max-width: 576px) {
      .tablehead{
        width: 20%;
      }
      .container{
        /* border:3px solid red; */
        width: 30rem;
      }
      .table-main{
        width: 30rem;
      }
  }

